#projectCarousel {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%; /* Limit the width to the viewport width */
    padding: 0;
    margin: 0;
    height: 100%;
    /*transform: translateX(-10px); /* TODO: this is shady */
}

#projectCarousel .carousel-inner {
    background-color: var(--blue-bg);
    /* background-color: red; */
}

#projectCarousel .carousel-control-next, #projectCarousel .carousel-control-prev {
    width: 10%;
    padding: 0;
    margin: 0;
}

.bg-img {
    max-width: 100%;
    margin: 0 auto; /* Center the image horizontally */
    height: calc(100vh - 100px);
    object-fit: cover;
    min-height: 612px;
}


#carousel-overlay {
    z-index: 100;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    max-width: 100vw; /* Limit the width to the viewport width */
    top: 90%;
    height: 22%;
}

#carousel-overlay img {
    width: 250%;
    animation: scrollImage 90s linear infinite alternate; /* Adjust the duration as needed */
    animation-play-state: running; /* Initial state: running */
}

.line {
    stroke-dasharray: 0.5vw;
    stroke-dashoffset: 0;
    stroke-width: 0.2vw;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -10vw;
    }
}
svg {
    z-index: 10;
}

@keyframes scrollImage {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% + 100vw));
    }
}