#projectCarousel {
    overflow-x: hidden;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.carousel-inner {
    background-color: var(--blue-bg);
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
    padding: 0;
    margin: 0;
}

.carousel-control-next {
    transform: translateX(2vw);
}

.carousel-control-prev {
    transform: translateX(-2vw);
}

.bg-img {
    max-width: 88%;
    margin: 0 auto; /* Center the image horizontally */
    height: calc(100vh - 100px);
    object-fit: cover;
}
