/* @media (max-width: 726px) { */
@media (max-width: 1000px) {
    .box-info1, .box-info2, .box-info3 {
        position: absolute;
        height: 50%;
        width: 80vw;
        max-width: 500px;
        top: 71%;
        left: 10vw;
        transition: all 0.5s ease-in-out;
    }

    .box-info1-content {
        padding-top: 35px;
        padding-left: 8%;
        padding-right: 8%;
      }
    .box-info1-content h1 {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: var(--blue-bg);
      }

    .slide_butt1 {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50%, -50%);
        z-index: 10;
    }

    .info_active1 {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    .info_active1, .info_active2, .info_ready2 {
        height: 58%;
        top: 13.5%;
    }

    .box-info2.hide_left {
        transform: translate(-100%, 0%);
        opacity: 0;
    }

    .slide_butt2, .slide_butt3 {
        opacity: 0;
        transition: none;
    }

    .box-info2.info_active1 > .slide_butt2 {
        opacity: 1;
    }

    .box-info2.hide_left > .slide_butt2 {
        opacity: 1;
    }

    .box-info3.info_active2 > .slide_butt3 {
        opacity: 1;
    }

    .box-info3.info_active1 {
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .box-info3.info_active2 {
        opacity: 1;
        transform: translateX(0%);
        z-index: 3;
    }

    .slide_butt3 {
        display: block;
    }
}

/* carusel box 2 */
@media (max-width: 1000px) {
    .project-info {
        max-height: 420px;
      }
}