/* @media (max-width: 726px) { */
@media (max-width: 50em) or (max-aspect-ratio: 7/5) {
    .carousel__box {
        position: absolute;
        height: 82%;
        top: 0%;
      }

    .box-info1, .box-info2, .box-info3 {
        position: absolute;
        height: 60%;
        /* width: 50vw; */
        /* max-width: 500px; */
        margin: auto;
        margin-bottom: 15px;
        top: 82%;
        /* left: 25vw; */
        transition: all 0.5s ease-in-out;
        width: 80vw;
        left: 10vw;
    }

    .box-info1-content, .box-info2-content, .box-info3-content {
        padding-top: 5%;
        padding-bottom: 15px;
        overflow-y: hidden;
    }

    .box-info1-content {
        padding-left: 8%;
        padding-right: 8%;
      }
    .box-info1-content h1 {
        font-size: clamp(1rem, 0.8rem + 0.5vw + 0.5vh, 1.5rem);
        font-weight: 700;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        color: var(--blue-bg);
      }

      .author-img-div {
        margin: 20px 0 0 0;
      }

      .project-info {
        max-height: 93%;
      }

    .slide_butt1 {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translate(50%, -50%);
        z-index: 10;
    }

    .info_active1 {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    .info_active1, .info_active2, .info_ready2 {
        height: 75%;
        top: 5%;
    }

    .info_ready2 {
        transform: translate(0%, 100%);
    }

    .slide_butt1 img {
        transform: rotate(-90deg);
    }

    .button_rotate_on_activation img{
        transform: rotate(90deg);
    }

    .slide_butt2{
        display: none;
    }

    .box-info3.info_active1 {
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.5s ease-in-out;
    }

    .box-info3.info_active2 {
        opacity: 1;
        transform: translateY(0%);
        z-index: 3;
    }

    .box-info3{
        display: none;
    }

    /* .slide_butt3 {
        display: block;
    } */

    .expand-bttn-img {
        width: 8vw;
      }

    .project-motto-text {
        font-weight: 400;
        font-size: clamp(0.8rem, 0.8rem + 1vw, 1.5rem);
    }

    .project-info-text-mobile {
        font-size: clamp(0.7rem, 0.7rem + 0.5vw, 1.1rem);
        margin-top: 2vh;
    }

    .project-info-text-mobile-div { 
        /* the text of the article is visible in the second card only on mobile*/
        /* and on mobile the third card is hidden */
        display: unset;
      }

      .author-name {
        font-size: clamp(0.8rem, 0.7rem + 0.5vw, 1.2rem);
        font-weight: 700;
        margin: 0;
        padding-bottom: 1vh;
        }

        .author-institute{
        font-weight: 400;
        font-size: clamp(0.7rem, 0.7rem + 0.5vw, 1.1rem);
        }
}

@media (max-width: 400px) {
    .box-info1-content h1 {
        font-size: 4vw;
      }
}