#cookie-banner{
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 100000;
    bottom: 0;
    width: 98vw;
    max-height: 90vh;
    overflow-y: auto;
    margin: 1vw;
    padding: 1rem;
    border-radius: 2vw;
    background-color: var(--blue-bg);
    color: white;
    text-align: left; 
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
}

#cookie-banner.expanded {
    width: 50vw;
    padding: 2rem;
    left: 25vw;
}

#cookie-banner h1 {
    font-size: 1.3rem;
}

#cookie-banner h2 {
    font-size: 1.3rem;
    margin-bottom: 0;
}

#cookie-banner h3 {
    font-size: 1rem;
}

#cookie-banner div p {
    font-size: 1rem;
    margin: 0.5rem 1rem;
}

.cookies-buttons {
    right:0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

#cookie-banner button {
    margin-left:10px;
    padding: 6px 12px;
    border-radius: 2.5vh;
    background-color: var(--yellow);
    color: var(--blue-bg);
    cursor: pointer;
    border: none;
}

.cookies-details {
    display: none;
}

.coookies-links {
    display: none;
}

.coookies-links a {
    color: white;
    margin-right: 1rem;
}


@media (max-width: 50em) or (max-aspect-ratio: 1/1) {
    #cookie-banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #cookie-banner.expanded {
        width: 98vw;
        padding: 1rem;
        left:0 ;
    }

    #cookie-banner h1, #cookie-banner h2, #cookie-banner h3 {
        font-size: 1.2rem;
    }

    #cookie-banner div p {
        font-size: 0.9rem;
    }

    .cookies-buttons {
        margin-left: unset;
    }

    .cookies-details, .coookies-links {
        margin-top: 1rem;
    }
}




.switch {
    position: relative;
    width: clamp(40px, 10vw, 60px);
    aspect-ratio: 2 / 1;
    background-color: #fbbfa7;
    border: 0.25em solid #205cdd;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 35%;
    height: 80%;
    background-color: #d65f5f;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch.active {
    background-color: #a1f0b9;
}

.switch.active::before {
    transform: translateX(140%);
    background-color: #3fbf74;
}