:root {
    --yellow: #ffc20e;
    --yellow85: rgba(255, 194, 14, 0.85);
    --yellow75: rgba(255, 194, 14, 0.75);
    --blue-bg: #06274a;
    --brighter-blue: #0a3d74;
    --blue-card: #4292b6;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--blue-bg);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    background-color: var(--blue-bg);
    overflow-x: hidden;
    box-sizing: border-box;
}

footer{
    height: 20vh;
    text-align: center;
    align-items: center;
}

footer p{
    margin: 3% 25% 3% 25%;
    color: #ffffff;
    font-size: 1.5vh;
    width: 50%;
}

* {
    font-family: "Montserrat", sans-serif;
}
