:root {
    --yellow: #ffc20e;
    --yellow85: rgba(255, 194, 14, 0.85);
    --yellow75: rgba(255, 194, 14, 0.75);
    --blue-bg: #06274a;
    --brighter-blue: #0a3d74;
    --blue-card: #4292b6;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--blue-bg);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    background-color: var(--blue-bg);
    overflow-x: hidden;
    box-sizing: border-box;
}

footer{
    position: relative;
    height: auto;
    text-align: center;
    align-items: center;
}

footer p{
    margin: 1vh 25vw 1vh 25vw;
    color: #ffffff;
    font-size: clamp(0.5rem, 0.5vw + 0.4rem, 4rem);
    width: 50%;
}

@media (max-width: 50em) or (max-aspect-ratio: 7/5){
    footer p{
        margin: 1vh 15vw 1vh 15vw;
        width: 70%;
        font-size: clamp(0.7rem, 1vw + 0.4rem, 2rem);
    }
}

footer p a {
    color: white;
}

* {
    font-family: "Montserrat", sans-serif;
}
