:root {
    --yellow: #ffc20e;
    --blue-bg: #06274a;
    --blue-card: #4292b6;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: gray;
}

* {
    font-family: "Montserrat", sans-serif;
}
