.indicators-section {
    position: relative;
    /* background-color: yellowgreen; */
    /* margin: 0 auto; */
    width: 100%;
    height: 250vh;
    background-image: url('../images/pozadí.jpg');
}

.indicators-container{
    position: relative;
    background-color: var(--blue-bg);
    left: 14vw;
    height: 250vh;
    width: 24vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

.indicator {
    height: 150px;
    width: 500px;
    color: white;
    /* background-color: black; */
    margin: 10vh 25px 15px 25px;
    /*display: flex;
    text-align: left;
    box-sizing: border-box; */
}

.indicator p{
    opacity:0;
}

.indicator-svg {
    width: 100px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.indicator-num {
    font-size: 42px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 30px;
}

.indicator-text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
}

.white-line {
    width: 80%; 
    height: 0.2vh; 
    background-color: white; 
    margin: 20px 0; 
}

.lower-section-logo{
    position: relative;
}

.lower-section-logo img{
    width: 80%;
    
}