.indicators-section {
    position: relative;
    width: 100%;
    height: 260vh;
    background-image: url('../images/pozadí.jpg');
}

.indicators-container{
    position: relative;
    background-color: var(--blue-bg);
    left: 14.5vw;
    height: 260vh;
    width: 23vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

.single-indicator{
    height: 18%;
}

.logo-container{
    height: 10%;
}

.indicator {
    height: 10%;
    color: white;
    margin: 5vh 0 5vh 0;
    z-index: 2;
    text-align: center;
}

.single-indicator p{
    font-size: 2vh;
    position: relative;
    width: 150%;
    top: -10%;
    right: -150%;
    opacity:1;
    color: #fff;
}
 .logo-container p{
    position: relative;
    font-size: 2vh;
    width: 150%;
    top: -80%;
    right: -150%;
    opacity:1;
    color: #fff;
 }

.indicator-svg {
    width: 30%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.indicator-num {
    font-size: 5vh;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
}

.indicator-text {
    font-size: 4vh;
    line-height: 1.2;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
}

.white-line {
    width: 80%; 
    height: 0.2vh; 
    background-color: white; 
    margin: 3vh 0 3vh 0; 
}

.lower-section-logo{
    position: relative;
    text-align: center;
}

.lower-section-logo-img{
    width: 70%;
    margin: 20% 0 10% 0;
}

.logo-slide_butt{
    position: relative;
    right: -83%;
    top: -30%;
    transform: translate(50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    background-color: rgba(0,0,0,0);
}

.indicator-slide_butt{
    position: relative;
    right: -83%;
    top: 20%;
    transform: translate(50%, -50%);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    background-color: rgba(0,0,0,0);
}