@media (max-width: 1215px) {
    .indicators-section {
        top: -20vh;
        height: auto;
        aspect-ratio: 1 /6;
    }
    
    .indicators-container{
        left: 25vw;
        width: 50vw;
        height: 100%;
        justify-content:baseline;
        align-items: unset;
    }

    .single-indicator{
        height: 18%;
        display: block;
        text-align: center;
    }
    
    .logo-container{
        height: 12%;
        text-align: center;
    }

    .indicator {
        height: 45%;
        margin: unset;
    }

    .indicator-svg {
        height: 40%;
        padding-right: 5%;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }

    .indicator-num {
        font-size: 180%;
    }
    
    .indicator-text {
        font-size: 150%;
        line-height: 1.2;
    }

    .lower-section-logo-img{
        width: 70%;
        margin: 0vh 0 5vh 0;
    }

    .single-indicator-p, .logo-container-p{
        text-align: center;
        width: 80%;
        top: unset;
        right: unset;
        margin-right: auto;
        margin-left: auto;
        font-size: 70%;
    }

    .logo-container-p.active, .single-indicator-p.active {
        right: unset;
        opacity: 1;
    }

     .logo-slide_butt, .indicator-slide_butt {
        position: relative;
        right: unset;
        left: unset;
        top: unset;
        text-align: center;
    }

    .indicators-expand-butt-img {
        transform:rotate(90deg) ;
        width: 6.5vw;
      }
}

@media (max-width: 800px) {
    .indicators-container{
        left: 12vw;
        width: 80vw;
    }
}