@media (max-width: 1215px) {
    .indicators-section {
        height: auto;
        aspect-ratio: 1 /4;
    }
    
    .indicators-container{
        left: 25vw;
        width: 50vw;
        height: 100%;
        justify-content:baseline;
        align-items: unset;
    }

    .single-indicator{
        height: 70vh;
        display: block;
        text-align: center;
    }
    
    .logo-container{
        height: 50vh;
        text-align: center;
    }

    .indicator {
        height: 35vh;
        margin: unset;
    }

    .lower-section-logo-img{
        width: 70%;
        margin: 10vh 0 5vh 0;
    }

    .single-indicator-p, .logo-container-p{
        text-align: center;
        width: 80%;
        top: unset;
        right: unset;
        margin-right: auto;
        margin-left: auto;
    }

    .logo-container-p.active, .single-indicator-p.active {
        top:20%;
        right: unset;
        opacity: 1;
    }

     .logo-slide_butt, .indicator-slide_butt {
        position: relative;
        right: unset;
        left: unset;
        top: unset;
        text-align: center;
    }

    .indicators-expand-butt-img {
        transform:rotate(90deg) ;
        width: 6.5vw;
      }
}

@media (max-width: 800px) {
    .indicators-container{
        left: 12vw;
        width: 80vw;
    }
}