#info-section {
    width: 100%;
    position: relative;
}

#info-cards-container {
    display: flex; /* Use flex container for the cards */
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
    padding-left: 250px;
    padding-right: 250px;

    transition: all 0.5s ease-in-out;
    overflow-y: hidden;
    max-height: 300px;
}

#info-cards-container.expand {
    max-height: 1000px;
}

.info-card {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
    /* height: 800px; */
    background-color: var(--blue-card);
    position: relative;

    transition: all 0.5s ease-in-out;
    max-height: 700px;
}

#card1.slide-down, #card3.slide-down {
    margin-top: 600px;
}
#card2.slide-down {
    margin-top: 650px;
}

.info-card-header {
    display: flex;
    align-items: left center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.expand-card {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    display: block;
    margin: 0;
}

.expand-card img {
    width: 40px;
    aspect-ratio: 1/1;
    transform: translateY(-25%);
}

.info-card-content {
    position: relative;
    padding: 20px;
}

.info-card-content h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

#card2 {
    margin-top: 50px;
}

.info-card-text {
    margin: 10px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 100%;
    overflow-y: auto;
}


#info-overlay {
    position: absolute;
    top: 90px;
    width: 100%;
    pointer-events: none;
    max-height: 300px;
    overflow-y: hidden;

    transition: all 0.5s ease-in-out;
}

#info-overlay.slide-down {
    position: absolute;
    top: 650px;
    max-height: 500px;
}

#info-overlay-container {
    position: relative;
}

#info-overlay-container img {
    pointer-events: none;
}

#hide-cards-butt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 21;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: none;
    cursor: pointer; 
    pointer-events: all;   
}

#hide-cards-butt img {
    width: 100px;
    aspect-ratio: 1/1;
}

.expand-down-img {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

.expand-down-img img {
    width: 65px;
    aspect-ratio: 1/1;
}

.opacity1 {
    opacity: 1;
}