#info-section {
    width: 100%;
    position: relative;
}

#info-cards-container {
    display: flex; /* Use flex container for the cards */
    justify-content: space-around;
    align-items: top;
    flex-wrap: none; /* Allow items to wrap onto the next line if needed */
    padding-left: max(7vw, 80px);
    padding-right: max(7vw, 80px);

    transition: all 0.5s ease-in-out;
    overflow-y: hidden;
    height: 25vh;
}

#info-cards-container.expand {
    height: 90vh;
}

.info-card {
    width: 30%;
    min-width: 300px;
    background-color: var(--blue-card);
    position: relative;
    transition: all 0.5s ease-in-out;
}

#card1.slide-down, #card3.slide-down {
    margin-top: 60vh;
}
#card2.slide-down {
    margin-top: 65vh;
}

.info-card-header {
    display: flex;
    align-items: left center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.expand-card {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    display: block;
    margin: 0;
}

.expand-card img {
    width: 3vw;
    aspect-ratio: 1/1;
    transform: translateY(-25%);
}

.info-card-content {
    position: relative;
    padding: 20px;
}

.info-card-content h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

#card2 {
    margin-top: 5vh;
}

.info-card-text {
    margin: 10px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 100%;
    overflow-y: auto;
}


#info-overlay {
    position: absolute;
    top: 12vh;
    width: 100%;
    pointer-events: none;
    max-height: 300px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#info-overlay.slide-down {
    position: absolute;
    top: 75vh;
    max-height: 500px;
}

#info-overlay-container {
    position: relative;
}

#info-overlay-container img {
    pointer-events: none;
    animation: scrollImage 90s linear infinite alternate; /* Adjust the duration as needed */
    animation-play-state: running; /* Initial state: running */
}

#hide-cards-butt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 21;
    padding: 10px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: none;
    cursor: pointer; 
    pointer-events: all;   
}

#hide-cards-butt img {
    width: 100px;
    aspect-ratio: 1/1;
}

.expand-down-img {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

.expand-down-img img {
    width: 65px;
    aspect-ratio: 1/1;
}

.opacity1 {
    opacity: 1;
}