.no-overflow {
    overflow: hidden;
}

.intro-overlay {
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    overflow: hidden;
    background: rgb(10,61,116);
    background: linear-gradient(20deg, rgba(10,61,116,1) 0%, rgba(6,39,74,1) 45%, rgb(5, 31, 59) 100%);
    transition: transform 0.3s ease-in;
}

.intro-header {
    width: 100%;
    max-width: 100vw;
    height: 10vh;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index: 20;
    background-color: var(--blue-bg);
    position: relative;
}

.intro-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 10px; /* Adjust the height of the shadow as needed */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: -1;

    pointer-events: none;
}

.intro-logo {
    object-fit: contain;
    height: 7vh;
    z-index: 20;
    margin-left: 3vw;
    margin-top: 1.5vh;
}

.intro-column {
    top: 35vh;
    right: 10vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 25;

    transition: all 0.2s ease-in-out
}

.intro-column h1 {
    color: white;
    font-weight: 700;
    font-size: 5vh;
}

.intro-image {
    height: 100vh;
    z-index: 15;
    position: absolute;
    top: 0px;
    right: 60vw;
    color: white;
    object-fit: contain;
}

.intro-button {
    border-radius: 2.5vh;
    background-color: var(--yellow);
    color: var(--blue-bg);
    width: 20vw;
    min-width: 120px;
    height: 8vh;
    font-size: 3.6vh;
    font-weight: 700;
    border-color: var(--yellow);
    cursor: pointer;
    transition: top 0.6s ease;
    margin-top: 20px;
    border: none;
    position: relative;
    transition: opacity 0.3s ease-in-out;
}

.intro-button.active {
    opacity: 0;
}

.intro-overlay.active {
    opacity: 0;
}

.yellow-circle {
    position: absolute;
    background-color: var(--yellow);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: 999999;
}

@media screen and (max-aspect-ratio: 1/1){
    .intro-image {
        display: none;
    }

    .intro-logo{
        margin-left: 8vw;
    }

    .intro-button {
        width: 35vw;
        min-width: 120px;
        height: 8vh;
        font-size: 3.6vh;
        font-weight: 700;
        margin-top: 20px;
    }

    .intro-overlay {
        height: 110%;
    }

    .intro-column {
        width: 80vw;
        left: 0;
        right: 0;
        margin: auto;
        padding-left: 30px;
        top: 30vh;
    }
}